<div class="mx-auto">
    <div class="h-screen flex items-center justify-center">
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h1 class="auth-header">Join Blog</h1>
        <p class="text-1xl text-gray-500 text-center mb-6">
          Already have an account? <a [routerLink]="['/login']" class="font-bold">Sign in</a>
        </p>
        @if (backendErrors$ | async) {
          <mc-backend-error-messages  [backendErrors]="backendErrors$ | async"></mc-backend-error-messages>
        }

        <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
          <fieldset class="mb-3">
            <input id="username" type="text" pInputText formControlName="username" placeholder="Login"
                   [ngStyle]="{'border-color': name?.invalid && (name?.dirty || name?.touched) || name.hasError('backend') ? 'red' : '' }"
                   class="auth-input">
          </fieldset>
          <fieldset class="mb-3">
            <input id="email" type="text" pInputText formControlName="email" placeholder="Email"
                   [ngStyle]="{'border-color': email?.invalid && (email?.dirty || email?.touched) || email.hasError('backend') ? 'red' : '' }"
                   class="auth-input">
          </fieldset>
          <fieldset class="mb-3">
            <input id="password" type="password" pInputText formControlName="password" placeholder="Password"
                   [ngStyle]="{'border-color': password?.invalid && (password?.dirty || password?.touched) || password.hasError('backend') ? 'red' : '' }"
                   class="auth-input">
          </fieldset>
          <fieldset class="flex justify-end">
            <p-button type="submit" class="auth-btn" label="Sing Up"
                      [disabled]="!formRegister.valid ||( isSubmitting$ | async)" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>

